<!-- <h1>Testing imbrication</h1>

<app-header> <h2>Header for root </h2></app-header> 

<section>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam quas ipsum ut earum, facere, mollitia eius cumque maiores neque pariatur rerum inventore ipsam minima. Voluptate dolore veritatis porro et consequuntur.</section>
<hr>

<app-footer  [filsVar]="perVar" (enveloppe)="receive($event)"></app-footer>

<div *ngIf="result else test">
received value: {{result}}
</div>
<div [appCustomDirective]="'green'">test</div>
<ng-template #test>
    <div >
        Aucun message n'est reçu
    </div>
</ng-template>
<ul *ngFor="let item of ListStudents, let i=index, let pair=even, let impair=odd">
    
    <li *ngIf="pair">{{item}}</li>

</ul> -->

<app-header></app-header>
<div class="container">

    <h2 class="text-center">Hello To Foot App</h2>
</div>
<!-- Call your child  -->
<router-outlet></router-outlet>