/* You can add global styles to this file, and also import other style files */
@import  "~bootstrap/dist/css/bootstrap.min.css";


.dark{
    color: black;
    background-color:aquamarine;
}

.light{
    color: antiquewhite;
    background-color: black;
}